
body {
  margin: 0;
  transition: background 0.3s, color 0.3s;
}

.background {
  background-image: url(./assets/Gemini_Generated_Image_wichwcwichwcwich.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.background-dark {
  background-image: url(./assets/Gemini_Generated_Image_4baqd4baqd4baqd4.png);
  /* opacity: 20%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}